<!-- Vista para ver sola las ofertas del usuario, aqui puede "eliminarlas" o modificarlas-->

<div class="container p-4">
  <div class="row">
    {{#each ofertas}}
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
              <a href="/ofertas/perfilofertante/{{id_usuario}}/{{id_oferta}}" >
                <h3 class="card-title text-uppercase">
                  {{nombre_oferta}}
                </h3>
              </a>
              <p class="m-2">{{oferta_descripcion}}</p>
              <p>{{timeago fechaCreacion}}</p>
              <a href="/ofertas/misofertas/delete/{{id_oferta}}" class="btn btn-danger">Eliminar</a>
              <a href="/ofertas/misofertas/edit/{{id_oferta}}" class="btn btn-secondary">Editar</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p> No hay links aun </p>
          <a href="/ofertas/misofertas/add"> Crea uno! </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>