<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container portfolio"> 
    <!--
    <div class="row">
		<div class="col-md-12">
			<div class="heading">				
				<img src="https://image.ibb.co/cbCMvA/logo.png" />
			</div>
		</div>	
	</div>
    -->
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h1>Hola, Soy {{perfil.fullname}}</h1>
                    <h6>{{perfil.userdescription}}</h6>
                    <p>{{perfil.frase}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bio-info">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <p>Verificada</p>
                        <p>Calificacion</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bio-content">
                    <p>{{oferta.nombre_oferta}}</p>
                    <h6>{{timeago oferta.fechaCreacion}}</h6>
                    <h6>{{oferta.descripcion}}</h6>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>