<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container portfolio">
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="bio-content">
                    <h2>Solicitaste a {{nombres}} {{apellidos}}, {{tiempoOferta}} horas de la oferta
                        {{nombre_oferta}}</h2>

                    {{#ifCond estadoSolicitud '==' 0}}
                    <h4>Cuando tu solicitud sea confirmada aqui apareceran los datos del ofertante</h4>
                    {{/ifCond}}

                    {{#ifCond estadoSolicitud '==' 1}}
                    <h4><strong>Correo:</strong> {{email}}</h4>
                    <h4><strong>Celular</strong> {{celular}}</h4>
                    {{/ifCond}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                            <img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bio-info">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <p>Verificada</p>
                        <p>Calificacion</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="bio-content">
                    <h4>{{solicitud_descripcion}}</h4>
                    <h6>{{timeago fechaSolicitud}}</h6>

                    <div class="text-right">
                        {{#ifCond estadoSolicitud '==' 0}}
                        <form method="POST" action="/solicitudes/cancelar/{{id_solicitud}}">
                            <button type="submit" class="btn btn-secondary">Cancelar</button>
                        </form>
                        {{/ifCond}}
                        {{#ifCond estadoSolicitud '==' 1}}
                        {{#ifCond estadoDos '==' 0}}
                        <form method="POST" action="/solicitudes/pagar/{{id_solicitud}}">
                            <button type="submit" class="btn btn-secondary">Pagar</button>
                        </form>
                        {{/ifCond}}
                        {{#ifCond estadoDos '==' 1}}
                        <ul>Esperando terminación</ul>
                        {{/ifCond}}
                        {{/ifCond}}
                        {{#ifCond estadoSolicitud '==' 2}}
                        {{#ifCond estadoDos '==' 0}}
                        <form method="POST" action="/solicitudes/pagar/{{id_solicitud}}">
                            <button type="submit" class="btn btn-secondary">Pagar</button>
                        </form>
                        {{/ifCond}}
                        {{/ifCond}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>