<div class="container p-4">
    {{#each solicitudes}}
    <div class="">
        <a href="/solicitudes/solicituduser/{{id_solicitud}}" class="list-group-item list-group-item-action">Has
            solicitado a <strong>{{nombres}}
                {{apellidos}}</strong>
            <strong>{{tiempoOferta}}</strong> horas de la oferta <strong>{{nombre_oferta}}</strong></a>
        {{#ifCond estadoSolicitud '==' 0}}
        <form method="POST" action="/solicitudes/cancelar/{{id_solicitud}}">
            <button type="submit" class="btn btn-secondary">Cancelar</button>
        </form>
        {{/ifCond}}
        {{#ifCond estadoSolicitud '==' 1}}
        {{#ifCond estadoDos '==' 0}}
        <form method="POST" action="/solicitudes/pagar/{{id_solicitud}}">
            <button type="submit" class="btn btn-secondary">Pagar</button>
        </form>
        {{/ifCond}}
        {{#ifCond estadoDos '==' 1}}
        <ul>Esperando terminación</ul>
        {{/ifCond}}
        {{/ifCond}}
        {{#ifCond estadoSolicitud '==' 2}}
        {{#ifCond estadoDos '==' 0}}
        <form method="POST" action="/solicitudes/pagar/{{id_solicitud}}">
            <button type="submit" class="btn btn-secondary">Pagar</button>
        </form>
        {{/ifCond}}
        {{/ifCond}}
    </div>
    {{/each}}
</div>